dataset link: https://www.kaggle.com/datasets/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews


Problem 1: Apply all the preprocessing techniques that you think are necessary.

Problem 2: Find out the number of words in the entire corpus and also the total number of unique words(vocabulary) using just python.

Problem 3: Apply One Hot Encoding.

Problem 4: Apply bag words and find the vocabulary also find the times each word has occured.

Problem 5: Apply bag of bi-gram and bag of tri-gram and write down your observation about the dimensionality of the vocabulary. 

Problem 6: Apply tf-idf and find out the idf scores of words, also find out the vocabulary.

In [47]:
import numpy as np
import pandas as pd

In [48]:
df = pd.read_csv("IMDB Dataset.csv")

In [49]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

## Problem 1: Apply all the preprocessing techniques that you think are necessary.

1. Lower Casing
2. Remove HTML Tags
3. Remove URLs
4. Remove Punctuations
5. Chat Word Treatment (LMAO, ROFL, ASAP)
6. Spelling Correction
7. Removing Stop Words
8. Handling Emojis
9. Tokenization
10. Stemming 
11. Lemmatization

In [50]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

### Lower Casing

In [51]:
df['review'] = df['review'].str.lower()

In [52]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. <br /><br />the...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

### Removing HTML Tags

In [53]:
from bs4 import BeautifulSoup

In [54]:
def remove_html(text):
    return BeautifulSoup(text, "html.parser").get_text()

In [55]:
df['review'] = df['review'].apply(remove_html)

C:\Users\RITU PRIYA SINGH\AppData\Local\Temp\ipykernel_13488\2229067044.py:2: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  return BeautifulSoup(text, "html.parser").get_text()

In [56]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production. the filming tec...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's "love in the time of money" is...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

### Remove Punctuations

In [57]:
import string

In [58]:
exclude = string.punctuation

In [59]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [60]:
df['review'] = df['review'].apply(remove_punc)

In [61]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production the filming tech...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically theres a family where a little boy j...  negative
4      petter matteis love in the time of money is a ...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  im going to have to disagree with the previous...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

### Stop Words

In [62]:
from nltk.corpus import stopwords
# stopwords.words('english')

In [63]:
def remove_stopwords(text):
    stop_words = set(stopwords.words('english'))
    words = text.split()
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

In [64]:
df['review'] = df['review'].apply(remove_stopwords)

In [65]:
df

                                                  review sentiment
0      one reviewers mentioned watching 1 oz episode ...  positive
1      wonderful little production filming technique ...  positive
2      thought wonderful way spend time hot summer we...  positive
3      basically theres family little boy jake thinks...  negative
4      petter matteis love time money visually stunni...  positive
...                                                  ...       ...
49995  thought movie right good job wasnt creative or...  positive
49996  bad plot bad dialogue bad acting idiotic direc...  negative
49997  catholic taught parochial elementary schools n...  negative
49998  im going disagree previous comment side maltin...  negative
49999  one expects star trek movies high art fans exp...  negative

[50000 rows x 2 columns]

### Tokenization

In [66]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [67]:
df['review'] = df['review'].apply(word_tokenize)

In [68]:
df

                                                  review sentiment
0      [one, reviewers, mentioned, watching, 1, oz, e...  positive
1      [wonderful, little, production, filming, techn...  positive
2      [thought, wonderful, way, spend, time, hot, su...  positive
3      [basically, theres, family, little, boy, jake,...  negative
4      [petter, matteis, love, time, money, visually,...  positive
...                                                  ...       ...
49995  [thought, movie, right, good, job, wasnt, crea...  positive
49996  [bad, plot, bad, dialogue, bad, acting, idioti...  negative
49997  [catholic, taught, parochial, elementary, scho...  negative
49998  [im, going, disagree, previous, comment, side,...  negative
49999  [one, expects, star, trek, movies, high, art, ...  negative

[50000 rows x 2 columns]

### Stemming

In [69]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [70]:
def stem_words(text):
    return " ".join([ps.stem(word) for word in text])

In [71]:
df['review'] = df['review'].apply(stem_words)

In [72]:
df

                                                  review sentiment
0      one review mention watch 1 oz episod youll hoo...  positive
1      wonder littl product film techniqu unassum old...  positive
2      thought wonder way spend time hot summer weeke...  positive
3      basic there famili littl boy jake think there ...  negative
4      petter mattei love time money visual stun film...  positive
...                                                  ...       ...
49995  thought movi right good job wasnt creativ orig...  positive
49996  bad plot bad dialogu bad act idiot direct anno...  negative
49997  cathol taught parochi elementari school nun ta...  negative
49998  im go disagre previou comment side maltin one ...  negative
49999  one expect star trek movi high art fan expect ...  negative

[50000 rows x 2 columns]

### Lemmatization

In [73]:
from nltk.stem import WordNetLemmatizer

In [74]:
wordnet_lemmatizer = WordNetLemmatizer()

In [75]:
exclude = string.punctuation

In [76]:
def lemmatize_review(text):
    return " ".join([wordnet_lemmatizer.lemmatize(word, pos='v') for word in text.split()])

In [77]:
df['review'] = df['review'].apply(lemmatize_review)

In [78]:
df

                                                  review sentiment
0      one review mention watch 1 oz episod youll hoo...  positive
1      wonder littl product film techniqu unassum old...  positive
2      think wonder way spend time hot summer weekend...  positive
3      basic there famili littl boy jake think there ...  negative
4      petter mattei love time money visual stun film...  positive
...                                                  ...       ...
49995  think movi right good job wasnt creativ origin...  positive
49996  bad plot bad dialogu bad act idiot direct anno...  negative
49997  cathol teach parochi elementari school nun tea...  negative
49998  im go disagre previou comment side maltin one ...  negative
49999  one expect star trek movi high art fan expect ...  negative

[50000 rows x 2 columns]

## Problem 2: Find out the number of words in the entire corpus and also the total number of unique words(vocabulary) using just python

In [86]:
new_df['review'] = df['review']

In [87]:
new_df

0         [one, review, mention, watch, 1, oz, episod, y...
1         [wonder, littl, product, film, techniqu, unass...
2         [think, wonder, way, spend, time, hot, summer,...
3         [basic, there, famili, littl, boy, jake, think...
4         [petter, mattei, love, time, money, visual, st...
                                ...
49996     [bad, plot, bad, dialogu, bad, act, idiot, dir...
49997     [cathol, teach, parochi, elementari, school, n...
49998     [im, go, disagre, previou, comment, side, malt...
49999     [one, expect, star, trek, movi, high, art, fan...
review    0        one review mention watch 1 oz episod ...
Name: review, Length: 50001, dtype: object

In [89]:
new_df['review'] = new_df['review'].apply(word_tokenize)

In [90]:
len(new_df)

50001

In [91]:
new_df['review']

0        [one, review, mention, watch, 1, oz, episod, y...
1        [wonder, littl, product, film, techniqu, unass...
2        [think, wonder, way, spend, time, hot, summer,...
3        [basic, there, famili, littl, boy, jake, think...
4        [petter, mattei, love, time, money, visual, st...
                               ...
49995    [think, movi, right, good, job, wasnt, creativ...
49996    [bad, plot, bad, dialogu, bad, act, idiot, dir...
49997    [cathol, teach, parochi, elementari, school, n...
49998    [im, go, disagre, previou, comment, side, malt...
49999    [one, expect, star, trek, movi, high, art, fan...
Name: review, Length: 50000, dtype: object

In [92]:
all_words = [word for sublist in new_df['review'] for word in sublist]

In [93]:
total_words = len(all_words)

In [94]:
unique_words = set(all_words)
vocab_size = len(unique_words)

In [95]:
print("Total number of words:", total_words)
print("Number of unique words (vocabulary size):", vocab_size)

Total number of words: 5996699
Number of unique words (vocabulary size): 182123

## Problem3: Apply One Hot Encoding.

In [97]:
from sklearn.preprocessing import OneHotEncoder

In [101]:
ohe = OneHotEncoder(sparse=False)

In [103]:
ohe_model = ohe.fit_transform(df[['sentiment']])

C:\Users\RITU PRIYA SINGH\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [104]:
ohe_model_df = pd.DataFrame(ohe_model, columns=ohe.get_feature_names_out(['sentiment']))

In [105]:
result_df = pd.concat([df.drop('sentiment', axis=1), ohe_model_df], axis=1)

In [106]:
print(result_df)

                                                  review  sentiment_negative
0      one review mention watch 1 oz episod youll hoo...                 0.0  \
1      wonder littl product film techniqu unassum old...                 0.0
2      think wonder way spend time hot summer weekend...                 0.0
3      basic there famili littl boy jake think there ...                 1.0
4      petter mattei love time money visual stun film...                 0.0
...                                                  ...                 ...
49995  think movi right good job wasnt creativ origin...                 0.0
49996  bad plot bad dialogu bad act idiot direct anno...                 1.0
49997  cathol teach parochi elementari school nun tea...                 1.0
49998  im go disagre previou comment side maltin one ...                 1.0
49999  one expect star trek movi high art fan expect ...                 1.0

       sentiment_positive
0                     1.0
1                     1.0
2                     1.0
3                     0.0
4                     1.0
...                   ...
49995                 1.0
49996                 0.0
49997                 0.0
49998                 0.0
49999                 0.0

[50000 rows x 3 columns]

## Problem 4: Apply bag words and find the vocabulary also find the times each word has occured.